body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(to right, #009A49 33.33%, #ffffff 33.33%, #ffffff 66.66%, #FF883E 66.66%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gif {
    max-width: 100%;
    height: auto;
}
